/* style.css - login_signup_form_01 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Trebuchet MS", Tahoma, Arial, san-serif;
  font-size: 16px;
  /* outline: 1px solid limegreen !important; */
}

:root {
  --bgColor_seethru: rgba(0, 0, 0, 0);
  /* --textColor: #f55f5f; */
  --textColor: #b91818;
  --contentContainerWidth: 66%;
  --cssBoxGuide01: 1px solid MediumVioletRed;
  --cssBoxGuide02: 1px solid blue;
  --cssBoxGuide03: 1px solid green;
}

body {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

h1 {
  font-size: 5em;
}

div.container {
  border: 1px solid MediumVioletRed;
}

label > i {
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  padding: 2px;
  margin-right: -5px;
}

.left.signup.container {
  margin: auto;
  width: 50%;
  border: 1px solid green;
}

.right.container {
  width: 50%;
  border: 1px solid blue;
}
