/* style.css - login_signup_form_01 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Trebuchet MS", Tahoma, Arial, san-serif;
  font-size: 16px;
  /* outline: 1px solid limegreen !important; */
}

:root {
  --bgColor_seethru: rgba(0, 0, 0, 0);
  /* --textColor: #f55f5f; */
  --textColor: #b91818;
  --contentContainerWidth: 66%;
  --cssBoxGuide01: 1px solid MediumVioletRed;
  --cssBoxGuide02: 1px solid blue;
  --cssBoxGuide03: 1px solid green;
}

body {
  background-image: url("starline_Freepik_17973904.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  width: min(1440px, 100%);
  overflow: hidden;
}

h1 {
  font-size: 5em;
  color: var(--textColor);
}

.content.container {
  margin: auto;
  width: var(--contentContainerWidth);
  height: 100vh;
  background-image: linear-gradient(
    to right,
    var(--bgColor_seethru) 0%,
    rgba(105, 205, 205, 0.9) 1%,
    rgba(105, 205, 205, 0.95) 50%,
    rgba(105, 205, 205, 0.9) 99%,
    var(--bgColor_seethru) 100%
  );
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 0;
}

.signup {
  width: 100%;
  height: 100%;
  padding: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  opacity: 1;
  /* transform: translateX(100%); */
  transition-property: width, opacity, transform;
  transition-duration: 0.5s;
  transition-delay: 0s;
  transition-timing-function: ease-in-out;
  box-sizing: border-box; /* This is necessary to have the 
                             contents 'shrink' to zero size */
}

.signup.hide {
  width: 0%;
  height: 100%;
  padding: 0em;
  opacity: 0;
  transform: translateX(-100%);
}

.login.hide {
  width: 0%;
  height: 100%;
  opacity: 0;
  padding: 0;
  transform: translate(100%);
  transition-property: opacity, transform, width;
  transition-duration: 0.5s;
  transition-delay: 0s;
  transition-timing-function: ease-in-out;
}

.login {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  opacity: 1;
  padding: 2em;
  box-sizing: border-box;
  transition-property: opacity, transform, width;
  transition-duration: 0.5s;
  transition-delay: 0s;
  transition-timing-function: ease-in-out;
}

.signup_title.section {
  display: flex;
  flex-direction: row-reverse;
  padding-right: 0.6em;
}

label > i {
  border: none;
  padding: 2px;
  font-size: 1.8em;
  margin: 0.2em;
  margin-top: 0.3em;
}

.left.signup.container {
  margin: auto;
  width: 50%;
  border: 1px solid green;
}

.right.container {
  width: 50%;
  border: 1px solid blue;
}
